.SearchResultsContainer {
    margin-bottom: 750px;
    margin-top: 16px;
}

.headerBar {
    /* border: black 1px solid; */
    /* height: 125px; */
    margin: 12px;
    padding-left: 205px;
}

.SearchResultsLeftSide {
    /* border: black 1px solid; */
    width: 255px;
    padding-top: 10px;
}

.theLeft {
    display: flex;
    align-content: column;
    /* border: black 2px solid; */
}

.SearchResultsMain {
    width: 100%;
}