.overView {
    border: 1px solid white;
    background: white;
    padding: 26px 32px 32px;
    margin:4px;
}

.score {
    letter-spacing: 0.10em;
    font-weight: bold;
    font-size: 24px;
}

.title {
    letter-spacing: 0.10em;
    font-weight: bold;
    font-size: 24px;
}

.author {
    margin-top: 4px;
    padding: 2px 0 0;
    color: #656666;
    font: 15px;
}

.techStack {
    letter-spacing: 0.10em;
    font-weight: bold;
    font-size: 24px;
}

.scoreContainer{
    /* display: flex;
    justify-content: row; */
}

.sidebar {
    border: 1px solid white;
    background: white;
    padding: 26px 32px 32px;
    margin: 4px;
    overflow: hidden;
    height: 97%;
}

.details {
    border: 1px solid white;
    background: white;
    padding: 26px 32px 32px;
    max-width: 900px;
    width: 100%;
}

.everything {
    /* display: flex; */
    /* justify-content: stretch; */
}

.threeParts {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}