.searchResultCardContainer {
    border: 1px solid white;
    background: white;
    padding: 26px 32px 32px;
    margin-top: 12px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.leftSide {
    display: flex;
    flex-direction: flex-end;
    justify-content: space-between;
    align-items: space;
    
}


.resultImg {
    height: 100px;
    width: 150px;
}

/* .leftRightSide {
    
} */