.searchResultCardContainer {
    border: 1px solid white;
    background: white;
    padding: 26px 32px 32px;
    margin-top: 12px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftSide {
    display: flex;
    flex-direction: flex-end;
    /* justify-content: space-around; */
    align-items: center; 
}


.resultImg {
    height: 100px;
    width: 150px;
}

.straightenUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}